{% extends "tasks_timing/base.html" %}

{% block title %} Adicionar Tarefa {% endblock %}

{% block content %}

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary" type="submit">
            Salvar
        </button>
        <a href="{% url 'tasks-list' %}">
            <button class="btn btn-outline-warning" type="button">
                Cancelar
            </button>
        </a>
    </form>


</div>


{% endblock %}