{% extends "tasks_timing/base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}

<div class="container">

    <h3>Adicionar descrição a "{{ time_working_task.task }}"?</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">
            Salvar
        </button>
        <a href="{% url 'time-working-list' %}">
            <button class="btn btn-secondary" type="button">
                Cancelar
            </button>
        </a>
    </form>


</div>


{% endblock %}