{% extends "tasks_timing/base.html" %}

{% block title %} Tarefas {% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <h2 class="col-10 title_page"> Tarefas </h2>
        <a class="col-2" href="{% url 'add-task' %}">
            <button class="btn btn-outline-primary">+ Tarefas</button>
        </a>
    </div>

    <form method="get" class="d-flex form-control row">
        {% csrf_token %}
        <div class="col-3">
            <label>Usuário Responsável</label>
            {{ form.manager }}
        </div>
        <div class="col-3">
            <label>Data</label>
            {{ form.date }}
        </div>
        <div class="col-3">
            <label>Descrição</label>
            {{ form.description }}
        </div>
        <button type="submit" class="btn btn-outline-primary button_filter">Filtrar</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Usuário</th>
                <th scope="col">Data</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <th scope="row">{{ task.id }}</th>
                    <td>{{ task.description }}</td>
                    <td>{{ task.owner }}</td>
                    <td>{{ task.date }}</td>
                    <td>
                        <a class='icons' href="{% url 'start-task' task.id %}">
                            <i class="bi bi-clipboard-plus"></i>
                        </a>
                        <a class='icons' href="{% url 'update-task' task.id %}">
                            <i class="bi bi-pen"></i>
                        </a>
                        <a class='icons' href="{% url 'delete-task' task.id %}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</div>


{% endblock %}