{% extends "tasks_timing/base.html" %}

{% block title %} Tempo de trabalho {% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <h2 class="col-10 title_page"> Registros - Tempo de trabalho </h2>
    </div>
    <form class="row d-flex form-control form_box" method="get">
        {% csrf_token %}
        <div class=" col-3">
            <label>Tarefa</label>
            {{ form.task }}
        </div>
        <div class=" col-3">
            <label>Usuário Reposável:</label>
            {{ form.manager }}
        </div>
        <div class=" col-3">
            <label>Data de Início</label>
            {{ form.hours_working_in }}
        </div>
        <div class=" col-3">
            <label>Data de Fim</label>
            {{ form.hours_working_out }}
        </div>
        <button type="submit" class="btn btn-outline-primary button_filter">Filtrar</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tarefa</th>
                <th scope="col">Usuário</th>
                <th scope="col">Data/Hora Início</th>
                <th scope="col">Data/Hora Fim</th>
                 <th scope="col">Horas Contabilizadas</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for time_task in times_tasks %}
                <tr>
                    <td scope="row">{{ time_task.id }}</td>
                    <td>{{ time_task.task }}</td>
                    {% if time_task.manager.first_name %}
                        <td>{{ time_task.task.manager.first_name }} {{ time_task.task.manager.last_name }}</td>
                    {% else %}
                        <td>{{ time_task.task.manager }}</td>
                    {% endif %}
                    <td>{{ time_task.hours_working_in }}</td>
                    {% if time_task.hours_working_out%}
                        <td>{{ time_task.hours_working_out }}</td>
                    {% else %}
                        <td> --- </td>
                    {% endif %}
                    {% if time_task.only_hours%}
                        <td>{{ time_task.only_hours }}</td>
                    {% else %}
                        <td> --- </td>
                    {% endif %}
                    <td>
                        <a class='icons' href="{% url 'view-time-working' time_task.id%}">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a class='icons' href="{% url 'add-desc-tm-working' time_task.id%}">
                            <i class="bi bi-journal-text"></i>
                        </a>

                        {% if not time_task.time_out %}
                            <a class='icons' href="{% url 'stop-time-work' time_task.id%}">
                                <i class="bi bi-stopwatch"></i>
                            </a>
                        {% else %}
                            <span class='icons'>
                                <i class="bi bi-clock-history"></i>
                            </span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</div>


{% endblock %}