{% extends "tasks_timing/base.html" %}

{% block title %} Detelhes {{ time_working_task.task }} {% endblock %}

{% block content %}

<div class="container">

  <h4>
      Tarefa relacionada: "{{ time_working_task.task }}"
  </h4>

  <div class="card" style="width: 40rem;">

    <ul class="list-group list-group-flush">
      {% if time_working.task.owner.first_name %}
        <li class="list-group-item">Owner: {{ time_working_task.task.owner.first_name }} {{ time_working_task.task.owner.last_name }}</li>
      {% else %}
        <li class="list-group-item">Owner: {{ time_working_task.task.owner }}</li>
      {% endif %}
      {% if time_working.task.manager.first_name %}
        <li class="list-group-item">Usuário Resposável: {{ time_working_task.task.manager.first_name }} {{ time_working_task.task.manager.last_name }}</li>
      {% else %}
        <li class="list-group-item">Usuário Resposável: {{ time_working_task.task.manager }}</li>
      {% endif %}
      <li class="list-group-item">Data/Hora Início: {{ time_working_task.hours_working_in }}</li>
      <li class="list-group-item">Deetalhes do trabalho realizado: <p>{{ time_working_task.job_description }}</p></li>
    </ul>
  </div>
</div>


{% endblock %}