/* base.html */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text_decoration: none;
    list_style: none;

}

textarea {
    resize: none;
}

.icons {
    text-decoration: none;
    font-size: 1.3em;
    margin-right: 6px;
}

body, html {
    min-height: 100vh;
    height: auto;
}

body {
    background: linear-gradient(to bottom, #a2a2a2,#a1a1a1);
    background-size: cover;
    background-repeat: no-repeat;
}

/* navbar.html */

#navbar {
    margin-bottom: 118px;
}

.navbar_user_title {
    color: #fff;
    margin-top: 20px;
}

.navbar_span_text {
    color: #fff;
    margin-right: 14px;
}
/* form_filter */

.form_box {
    margin: 0 0 20px;
}

.button_filter {
    margin: 20px 10px;
    max-width: 300px;
    width: 100%;
}

.inputs_form {
    background-color: #fff;
}

/* add_tasks.html */

.title_page {
    align-items: center;
    display: flex;
    margin: 10px 0px 26px;
}
